{% extends 'base.html' %}

{% block Content %}
  <h2 class="card-title">The File you Uploaded</h2>
   <table>
     <!-- <thead>
       <tr>
         <th>{{title}}</th>
         <th>Uploaded File</th>
       </tr>
     </thead> -->
     <tbody>
       <!-- {% for file in files %}
          <tr>
            <td>{{ file.title }}</td>
            <td>{{ file.title }}</td>
          </tr>
       {% endfor %} -->
       {% load static %} 
       <img src="{% static 'ans.jpg' %}" alt="Girl in a jacket">
     </tbody>
   </table>
   The red colour box bounds the person and any green line if visible represents the distance between persons indicating social distancing . 
{% endblock %}