{% extends 'base.html' %}

{% block Content %}
  <h2 class="card-title">Files</h2>
   <table>
     <thead>
       <tr>
         <th>{{title}}</th>
         <th>Uploaded File</th>
       </tr>
     </thead>
     <tbody>
       <!-- {% for file in files %}
          <tr>
            <td>{{ file.title }}</td>
            <td>{{ file.title }}</td>
          </tr>
       {% endfor %} -->
       {% load static %} 
       <img src="{% static 'ans.jpg' %}" alt="Girl in a jacket">
     </tbody>
   </table>
{% endblock %}