{% extends 'base.html' %}



{% block Content %}

  <h2>Hey Welcome</h2>

  <br><br><br><br>
  <h2 class="card-title">About This website :</h2>
  In this website we can upload images and see application of image detection and processing  in action .
  <br><br><br><br>

  <h4>Bounding Box</h4>
  A bounding box is an imaginary rectangle that serves as a point of reference for object detection and creates a collision box for that object.
  <br>
Data annotators draw these rectangles over images, outlining the object of interest within each image by defining its X and Y coordinates. This makes it easier for machine learning algorithms to find what they’re looking for, determine collision paths, and conserves valuable computing resources.
<br>
Bounding boxes are one of the most popular image annotation techniques in deep learning. Compared to other image processing methods, this method can reduce costs and increase annotation efficiency.
<br>  <br><br>
<h5>Applications of bounding box</h5>
Take self-driving cars as an example. An annotator will draw bounding boxes around other vehicles and label them. 
<br>
This helps train an algorithm to understand what vehicles look like. Annotating objects such as vehicles, traffic signals, and pedestrians makes it possible for autonomous vehicles to maneuver busy streets safely.
<br> Self-driving car perception models rely heavily on bounding boxes to make this possible.
<br><br>
Image annotation with the help of bounding boxes is also used to label objects seen from the viewpoint of robots and drones.
<br> Images that are annotated with the technique help robots and drones to identify the wide variety of objects seen on earth.
<br> The different types of objects that can be captured into the bounding box make it easier for drones and robots to identify similar physical objects from a distance and steer accordingly.
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

{% endblock %}